<!DOCTYPE html>
<html class="no-js" lang="pl">

<head>
    <meta charset="utf-8" />
    <title>RE/MAX Astra | Biuro Nieruchomości Warszawa</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="RE/MAX Astra: Expert real estate services in Warsaw. Buy, sell, or rent properties with the best team in the market.">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="RE/MAX Astra | Biuro Nieruchomości Warszawa">
    <meta property="og:description" content="Expert real estate services in Warsaw.">
    <meta property="og:url" content="https://remaxastra.pl/">
    <meta property="og:image" content="https://remaxastra.pl/static/assets/imgs/theme/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://remaxastra.pl/static/assets/imgs/theme/favicon.png" />
    <link rel="stylesheet" href="https://remaxastra.pl/static/assets/css/plugins/slider-range.css" />
    <link rel="stylesheet" href="https://remaxastra.pl/static/assets/css/main.css" />
</head>
<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="https://remaxastra.pl/">
                            <img src="https://remaxastra.pl/static/assets/imgs/theme/logo.png" alt="RE/MAX Astra Warsaw Real Estate">
                        </a>
                    </div>
                    <div class="header-right">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                            <nav>
                                <ul>
                                    <li><a href="https://www.remax-polska.pl/PublicListingList.aspx?SelectedCountryID=47#mode=hybrid&cur=PLN&sb=PriceDecreasing&page=1&sc=47&lat=52.37105265509379&lng=19.874267578125004&zoom=7&nelat=54.43171285946844&nelng=23.994140625000004&swlat=50.31039245071915&swlng=15.754394531250002&sid=56ec9c63-76d3-4376-86c3-e70a93dd7f63&oid=81029">Nieruchomości</a></li>
                                    <li><a href="https://www.youtube.com/@REMAXAstraa">Youtube</a></li>
                                    <li><a href="https://www.remax-polska.pl/pl-pl/biura/mazowieckie/warszawa/remax-astra/81029">Zespół</a></li>
                                    <li><a href="https://re-max.elementapp.ai/application/v2/19da3e04-c906-4268-83dc-b76424612434/0eff9bcc-bfdc-4abd-86cb-bc20e3bfec85?source=bcec58c8-cb38-4e7a-81ee-e277102158af">Aplikuj</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-xl-block">
                            <div class="hotline d-lg-inline-flex">
                                <img src="https://remaxastra.pl/static/assets/imgs/theme/icons/phone-call.svg" alt="Contact Hotline" />
                                <p><a href="tel:+48505028658">+48 505 028 658</a></p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 d-none d-xl-block">
                            <div class="hotline d-lg-inline-flex">
                                <img src="https://remaxastra.pl/static/assets/imgs/theme/icons/icon-location.svg" alt="Office Location" />
                                <p><a href="https://maps.app.goo.gl/63g9hRx7QUKmR6jh9">Łopuszańska 24g, 02-220 Warszawa</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="https://remaxastra.pl/">
                            <img src="https://remaxastra.pl/static/assets/imgs/theme/logo.png" alt="RE/MAX Astra Warsaw Real Estate" />
                        </a>
                    </div>
                </div>
            </div>
        </div>        
    </header>

    <div class="container">
        <div class="row">
            <!-- Listings -->
            <div class="col-lg-6">
                <div class="row">
                    {% for listing in listings %}
                        {% if listing.image_src.startswith('https://remax.azureedge.net/userimages/47') %}
                            <div class="col-lg-6">
                                <a href="{{ listing.link_to_offer }}" class="listing-card-link">
                                    <div class="listing-card">
                                        <div class="listing-img">
                                            <img src="{{ listing.image_src }}" alt="{{ listing.title }} - {{ listing.property_type }} - {{ listing.listing_type }}" class="img-fluid">
                                        </div>
                                        <div class="listing-details">
                                            <h3 class="listing-title">{{ listing.title }}</h3>
                                            <p class="listing-info">{{ listing.property_type }} - {{ listing.listing_type }}</p>
                                            <p class="listing-price">{{ listing.PLN }} / {{ listing.EUR }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Map -->
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2445.708409802784!2d20.948162576996083!3d52.19417276030131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471933a0791dc867%3A0x76c5ffe1c212a989!2sRE%2FMAX%20Astra%20Nieruchomo%C5%9Bci%20Warszawa!5e0!3m2!1spl!2spl!4v1710758367822!5m2!1spl!2spl" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="border: 0; border-radius: 15px; width: 100%; object-fit: contain;"></iframe>
                </div>
            </div>
            
            <!-- Hero Section -->
            <div class="col-lg-6">
                <section class="home-slider position-relative mb-0">
                    <div class="home-slide-cover mt-0">
                        <div class="hero-slider-1 style-4 dot-style-1">
                            {% for listing in listings %}
                                {% if listing.image_src.startswith('https://remax.azureedge.net/userimages/47') %}
                                    <a href="{{ listing.link_to_offer }}">
                                        <div class="single-hero-slider single-animation-wrap" style="border-radius: 15px; background-image: url('{{ listing.image_src }}')">    
                                            <div class="slider-content" style="border-radius: 15px;">
                                                <h1>{{ listing.title }}</h1>
                                                <p>{{ listing.property_type }}, {{ listing.listing_type }}, {{ listing.PLN }} / {{ listing.EUR }}</p>
                                            </div>
                                        </div>
                                    </a>    
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="slider-arrow hero-slider-1-arrow"></div>
                    </div>
                </section>
    
                <!-- About Section -->
                <div class="container">
                    <div class="about-section" style="background-color: #fff; padding: 30px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <h2 class="section-title" style="font-size: 28px; font-weight: bold; margin-bottom: 20px; text-align: center; text-transform: uppercase; letter-spacing: 2px;">RE/MAX Astra Warszawa - Twój Partner w Świecie Nieruchomości</h2>
                        <p style="font-size: 18px; line-height: 1.6; text-align: justify;">W żyłach naszej działalności płynie miłość do nieruchomości i pasja do obsługi klienta. Zapomnij o suchych faktach i statystykach, u nas liczą się konkretne działania i rzetelność.</p>
                        <div>
                            <iframe width="560" height="470" style="border: 0; border-radius: 15px; width: 100%; object-fit: contain; margin-top: 20px" src="https://www.youtube.com/embed/J3y1WyoY3Vk?si=mfYRfamywajQrXrQ" title="RE/MAX Astra Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <hr style="border-top: 1px solid #dee2e6; margin-top: 30px; margin-bottom: 30px;">
                        <h3 class="subsection-title" style="font-size: 24px; font-weight: bold; margin-bottom: 15px; text-transform: uppercase;">Dlaczego jesteśmy liderem rynku?</h3>
                        <ul class="benefits-list" style="font-size: 18px; line-height: 1.6; text-align: left;">
                            <li style="margin-bottom: 15px;"><strong class="text-brand">Globalny Zasięg, Lokalna Wiedza:</strong> Nasza globalna sieć biur i agentów to Twoja przepustka do sukcesu, gwarantująca Ci nieograniczone możliwości, ale z lokalnym zrozumieniem rynku, to nieograniczone możliwości działania <strong class="text-brand">WYŁĄCZNIE W TWOIM INTERESIE.</strong></li>
                            <li style="margin-bottom: 15px;"><strong class="text-brand">Partnerstwo:</strong> Współpraca z nami to nie tylko transakcja. Współpracujemy aktywnie z innymi biurami i agentami, aby Twoja oferta dotarła do każdego potencjalnego klienta.</li>
                            <li style="margin-bottom: 15px;"><strong class="text-brand">Twoje Interesy na Pierwszym Miejscu:</strong> Nasze serce bije dla Ciebie, ponieważ <strong class="text-brand">ZAWSZE</strong> reprezentujemy tylko jedną stronę transakcji, <strong class="text-brand">ZAWSZE</strong> walczymy tylko o <strong class="text-brand">TWOJE INTERESY,</strong> dbając o każdy detal <strong class="text-brand">TWOJEJ NIERUCHOMOŚCI,</strong> co gwarantuje maksymalizację <strong class="text-brand">TWOICH KORZYŚCI.</strong></li>
                            <li style="margin-bottom: 15px;"><strong class="text-brand">TWÓJ SUKCES:</strong> Nasze wynagrodzenie uzależnione jest wyłącznie od <strong class="text-brand">TWOJEGO SUKCESU,</strong> co daje Ci pewność, że <strong class="text-brand">ZAWSZE</strong> działamy w <strong class="text-brand">TWOIM NAJLEPSZYM INTERESIE.</strong></li>
                        </ul>
                        <div>
                            <img src="static/assets/imgs/theme/stats.jpg" alt="RE/MAX Statistics" style="border: 0; width: 100%; height: 100%; object-fit: contain; margin-bottom: 15px;">
                        </div>
                        <p style="font-size: 18px; line-height: 1.6;">RE/MAX narodził się w Stanach Zjednoczonych w Denver w stanie Colorado, w 1972 roku, która od tamtej chwili rozkwita na skalę światową. Dziś, jako globalny gigant branży nieruchomości, działamy w ponad 100 krajach, prężnie rozwijając się na wszystkich czołowych rynkach światowych jak i europejskich od Londynu po Tokio, nasza marka to symbol profesjonalizmu i doskonałości.
                            <br>
                            W Polsce, nasze korzenie sięgają już ponad 15 lat wstecz, a na naszą sieć składa się już ponad 30 biur w Polsce. RE/MAX Astra, nasze biuro w Warszawie, stanowi integralną część tej inspirującej historii. Znajomość lokalnego rynku oraz pasja do pracy sprawiają, że jesteśmy gotowi sprostać Twoim wymaganiom i oczekiwaniom.
                            <br>
                            Naszym celem jest nie tylko sprzedaż lub wynajem nieruchomości, ale przede wszystkim budujemy mosty między Twoimi marzeniami a rzeczywistością. Działamy w oparciu o znajomość rynku, wieloletnie doświadczenie i profesjonalne podejście.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <img src="static/assets/imgs/theme/101.jpg" alt="Kariera w sprzedaży nieruchomości" style="border-radius: 15px; width: 100%; height: 100%; object-fit: contain;">
                </div>
                
                <div class="container">
                    <div style="background-color: #fff; padding: 30px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <h1 style="font-size: 28px; font-weight: bold; margin-bottom: 20px; text-align: center; text-transform: uppercase; letter-spacing: 2px;">Jesteśmy Twoim Partnerem w sprzedaży nieruchomości</h1>
                        <p style="font-size: 18px; line-height: 1.6; text-align: justify;">Szukasz profesjonalnego partnera, który zapewni skuteczną sprzedaż lub wynajem Twojej nieruchomości? Chcesz mieć pewność, że oddajesz swoją własność w ręce doświadczonych ekspertów? Właśnie znalazłeś idealne miejsce.</p>
                        <hr style="border-top: 1px solid #dee2e6; margin-top: 30px; margin-bottom: 30px;">
                        <h2 style="font-size: 24px; font-weight: bold; margin-bottom: 15px; text-transform: uppercase;">Co zyskujesz, wybierając RE/MAX Astra:</h2>
                        
                        <ul style="font-size: 18px; line-height: 1.6; text-align: left;">
                            <li style="font-size: 18px; line-height: 1.6; text-align: justify;"><strong class="text-brand">Skuteczność:</strong> Jako część największej sieci biur nieruchomości na świecie, mamy nieograniczone możliwości dotarcia do potencjalnych nabywców lub najemców.</li>
                            <li style="font-size: 18px; line-height: 1.6; text-align: justify;"><strong class="text-brand">Profesjonalizm:</strong> Nasz zespół to doświadczeni i wysoko wykwalifikowani specjaliści, gotowi sprostać Twoim oczekiwaniom i każdemu wyzwaniu.</li>
                            <li style="font-size: 18px; line-height: 1.6; text-align: justify;"><strong class="text-brand">Jasne Warunki Współpracy:</strong> Gwarantujemy transparentność i uczciwość na każdym kroku, bez ukrytych opłat czy niejasnych zapisów.</li>
                            <li style="font-size: 18px; line-height: 1.6; text-align: justify;"><strong class="text-brand">Ochrona Twoich interesów:</strong> Naszym celem jest zawsze osiągnięcie najlepszych rezultatów dla Ciebie. Dlatego reprezentujemy tylko jedną stronę transakcji i dbamy o maksymalizację Twoich korzyści.</li>
                            <li style="font-size: 18px; line-height: 1.6; text-align: justify;"><strong class="text-brand">Osobiste podejście:</strong> Jesteśmy tutaj dla Ciebie. Nasze działania są dostosowane do Twoich potrzeb i oczekiwań. Nie jesteś dla nas tylko klientem, jesteś bohaterem swojej historii.</li>
                            
                            <li style="font-size: 18px; line-height: 1.6; text-align: justify; margin-top: 15px;"><strong class="text-brand">Pracując dla Ciebie, oferujemy Ci:</strong> 
                                <ul style="margin-top: 5px;">
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">1. przygotowanie oferty nieruchomości, wraz z ustaleniem ceny ofertowej;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">2. opracowanie strategii sprzedarzy nieruchomości;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">3. wykonanie profesjonalnej sesji zdjęciowej;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">4. marketing i promocja Twojej nieruchomości;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">5. gromadzenie niezbędnych dokumentów;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">6. wsparcie prawne;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">7. negocjacje;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">8. współpraca z notariuszem;</li>                                        
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">9. wsparcie przy przekazaniu nieruchomości.</li>
                                </ul>
                            </li>
                            
                            <li style="font-size: 18px; line-height: 1.6; text-align: justify; margin-top: 15px;"><strong class="text-brand">Pracując z Twoją nieruchomością wykorzystujemy narzędzia takie jak:</strong> 
                                <ul style="margin-top: 5px;">
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">1. wirtualny spacer;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">2. przygotowanie planu nieruchomości;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">3. home staging;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">4. sesje zdjęciowe nieruchomości;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">5. promocja w social media;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">6. promocja w portalach internetowych;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">7. drzwi otwarte nieruchomości;</li>
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">8. marketing internetowy;</li>                                        
                                    <li style="font-size: 18px; line-height: 1.6; text-align: justify;">9. Google AdWords.</li>
                                </ul>
                            </li>
                        </ul>
                        <div>
                            <iframe width="560" height="470" style="border: 0; border-radius: 15px; width: 100%; object-fit: contain; margin-top: 15px; margin-bottom: 15px;" src="https://www.youtube.com/embed/zs1dcKJDMgI?si=Kqau_tqDReD6ef2c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <p style="font-size: 18px; line-height: 1.6; text-align: justify;">RE/MAX Astra to więcej niż tylko kolejne biuro nieruchomości. To zespół pasjonatów i ekspertów, którzy widzą w sprzedaży i wynajmie nieruchomości sztukę. Jesteśmy częścią globalnej rodziny RE/MAX, której skuteczność jest niepodważalna.
                            <br>Naszą misją jest nie tylko zrealizowanie transakcji, ale także zapewnienie Ci spokoju ducha i satysfakcji na każdym etapie procesu. Dlatego oferujemy kompleksową obsługę na każdym etapie procesu oraz indywidualne podejście dostosowane do Twoich potrzeb.</p>
                    </div>                
                </div>
                
                
                
                <div class="container">
                    <div style="background-color: #fff; padding: 30px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <h1 style="font-size: 28px; font-weight: bold; margin-bottom: 20px; text-align: center; text-transform: uppercase; letter-spacing: 2px;">RE/MAX Astra - Twój partner w poszukiwaniu wymarzonych nieruchomości w Warszawie</h1>
                        <p style="font-size: 18px; line-height: 1.6; text-align: justify;">W RE/MAX Astra pomagamy znaleźć idealne miejsce do życia, tworzymy nowe historie i spełniamy marzenia naszych klientów. Jesteśmy ekspertami w branży nieruchomości w Warszawie.</p>
                        <hr style="border-top: 1px solid #dee2e6; margin-top: 30px; margin-bottom: 30px;">
                        <h2 style="font-size: 24px; font-weight: bold; margin-bottom: 15px; text-transform: uppercase;">Dlaczego właśnie my?</h2>
                        <p style="font-size: 18px; line-height: 1.6; text-align: justify;">Nasz zespół to eksperci w dziedzinie nieruchomości w Warszawie. Znamy nasze miasto jak własną kieszeń i jesteśmy gotowi podzielić się tą wiedzą z Tobą.</p>
                        
                        <h3 style="font-size: 20px; font-weight: bold; margin-top: 15px;">Elastyczność i Indywidualne Podejście:</h3>
                        <p style="font-size: 18px; line-height: 1.6;">Każda nieruchomość ma swoją historię, a każdy klient swoje unikalne potrzeby. Nasze podejście jest elastyczne i dostosowane do Ciebie, abyśmy mogli razem odnaleźć Twój wymarzony dom.</p>
                        
                        <h3 style="font-size: 20px; font-weight: bold; margin-top: 15px;">Wsparcie na Każdym Etapie:</h3>
                        <p style="font-size: 18px; line-height: 1.6;">Twój komfort i satysfakcja są dla nas najważniejsze. Nasz zespół zapewnia pełne wsparcie od pierwszego kontaktu aż po przekazanie nieruchomości. Jesteśmy tutaj, aby uczynić ten proces jak najbardziej przyjemnym.</p>
                        
                        <h3 style="font-size: 20px; font-weight: bold; margin-top: 15px;">Transparentność i uczciwość:</h3>
                        <p style="font-size: 18px; line-height: 1.6;">Nasza współpraca opiera się na zaufaniu i uczciwości. Każdy krok jest jasny i transparentny, nie ma miejsca na niejasne warunki czy ukryte opłaty. Dbamy o Twoje potrzeby i interesy.</p>
                    </div>
                </div>

                <div class="container">
                    <iframe width="560" height="470" style="border: 0; border-radius: 15px; width: 100%; object-fit: contain;" src="https://www.youtube.com/embed/-YilVB_4B0o?si=WKDGrCKyeB4eYTOJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div class="container">
                    <div style="background-color: #fff; padding: 30px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <h2 style="font-size: 28px; font-weight: bold; margin-bottom: 20px; text-align: center; text-transform: uppercase; letter-spacing: 2px;">Dołącz do Zespołu RE/MAX Astra</h2>
                        <p style="font-size: 18px; line-height: 1.6; text-align: justify;">Witaj w RE/MAX Astra w Warszawie - miejscu, gdzie Twoje marzenia o karierze w nieruchomościach stają się rzeczywistością! Jeśli szukasz nowych wyzwań zawodowych, pragniesz prowadzić własny biznes pod renomowanym szyldem i fascynuje Cię świat nieruchomości, to oferta naszego biura jest stworzona dla Ciebie!
                            <br>
                            RE/MAX Astra to dynamicznie rozwijające się biuro nieruchomości, które znajduje się w samym sercu Warszawy. Jako część międzynarodowej sieci RE/MAX, kształtujemy standardy w branży od lat.
                            <br>
                            Nasz zespół składa się z doświadczonych agentów, którzy pasjonują się nieruchomościami i troszczą się o naszych klientów. Współpraca z nami to nie tylko praca - to możliwość rozwoju, nauki od najlepszych i realizacji swoich zawodowych celów.
                        </p>
                        <hr style="border-top: 1px solid #dee2e6; margin-top: 30px; margin-bottom: 30px;">
                        
                        <h3 style="font-size: 24px; font-weight: bold; margin-bottom: 15px; text-transform: uppercase;">Dlaczego Warto do nas dołączyć?</h3>
                        <ul style="font-size: 18px; line-height: 1.6; text-align: left; margin-bottom: 20px;">
                            <li style="margin-top: 15px;"><strong class="text-brand">1. Profesjonalne Szkolenia:</strong> Oferujemy kompleksowe szkolenia, które przygotują Cię do pracy jako agent nieruchomości. Niezależnie od Twojego poziomu doświadczenia, z nami zawsze będziesz się rozwijać.</li>
                            <li style="margin-top: 15px;"><strong class="text-brand">2. Wsparcie Mentora:</strong> Każdy nowy agent otrzymuje wsparcie doświadczonego mentora, który pomoże w pierwszych krokach w branży nieruchomości. Jesteśmy tutaj, aby Cię wspierać na każdym etapie Twojej kariery.</li>
                            <li style="margin-top: 15px;"><strong class="text-brand">3. Globalna Sieć Kontaktów:</strong> Jako część sieci RE/MAX, masz dostęp do międzynarodowej społeczności agentów, co otwiera przed Tobą nowe możliwości biznesowe i szanse na sukces.</li>
                            <li style="margin-top: 15px;"><strong class="text-brand">4. Sprawdzone Narzędzia i Technologie:</strong> Korzystamy z najnowszych narzędzi i technologii, aby umożliwić Ci skuteczną pracę i maksymalizację wyników.</li>
                            <li style="margin-top: 15px;"><strong class="text-brand">5. Działania Marketingowe:</strong> Zapewnimy Ci wsparcie w promocji Twoich usług i nieruchomości, abyś mógł dotrzeć do jak największej liczby potencjalnych klientów.</li>
                            <li style="margin-top: 15px;"><strong class="text-brand">6. Elastyczne Godziny Pracy:</strong> U nas nie ma sztywnych ram czasowych. Dzięki elastyczności godzin pracy możesz dostosować swój grafik do swoich potrzeb i zobowiązań, ciesząc się pełną swobodą w organizacji czasu.</li>
                            <li style="margin-top: 15px;"><strong class="text-brand">7. Budowanie Trwałych Relacji:</strong> Tworzenie silnych więzi z klientami to klucz do sukcesu w naszej branży. W RE/MAX Astra stawiamy na budowanie zaufania i lojalności, co pozwala nam osiągać doskonałe wyniki i satysfakcję zarówno klientów, jak i agentów.</li>
                            <li style="margin-top: 15px;"><strong class="text-brand">8. Satysfakcjonujące Wynagrodzenie:</strong> W RE/MAX Astra doceniamy Twoją pracę i oferujemy atrakcyjne wynagrodzenie prowizyjne, które rośnie wraz z Twoimi sukcesami.</li>
                        </ul>                    
                        <div>
                            <img src="static/assets/imgs/theme/kariera.png" alt="kariera" style="border: 0; width: 100%; height: 100%; object-fit: contain;">
                        </div>
                        <p style="  font-size: 18px; line-height: 1.6;">Jeśli marzysz o karierze w branży nieruchomości i chcesz być częścią dynamicznego zespołu, to nie czekaj dłużej! Dołącz do RE/MAX Astra, gdzie razem pracujemy na <strong class="text-brand">TWÓJ SUKCES!</strong></p>    
                        <div>
                            <iframe width="560" height="390" style="border: 0; border-radius: 15px; width: 100%; object-fit: contain; margin-top: 20px" src="https://www.youtube.com/embed/O5HEywt6AoE?si=8asTJoQC8vtXoS8p" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                </strong>
            </div>
            <!--END RIGHT COLUMN-->
        </div>
    </div>
    <!-- End listings -->


    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="static/assets/imgs/theme/logo.png" alt="RE/MAX Astra logo" /></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li>
                                <a href="https://www.remax-polska.pl/PublicListingList.aspx?SelectedCountryID=47#mode=hybrid&cur=PLN&sb=PriceDecreasing&page=1&sc=47&lat=52.37105265509379&lng=19.874267578125004&zoom=7&nelat=54.43171285946844&nelng=23.994140625000004&swlat=50.31039245071915&swlng=15.754394531250002&sid=56ec9c63-76d3-4376-86c3-e70a93dd7f63&oid=81029" target="_blank" rel="noopener noreferrer">Nieruchomości</a>
                            </li>                    
                            <li>
                                <a href="https://www.youtube.com/@REMAXAstraa" target="_blank" rel="noopener noreferrer">Youtube</a>
                            </li>
                            <li>                          
                                <a href="https://www.remax-polska.pl/pl-pl/biura/mazowieckie/warszawa/remax-astra/81029" target="_blank" rel="noopener noreferrer">Zespół</a>
                            </li>
                            <li>
                                <a href="https://re-max.elementapp.ai/application/v2/19da3e04-c906-4268-83dc-b76424612434/0eff9bcc-bfdc-4abd-86cb-bc20e3bfec85?source=bcec58c8-cb38-4e7a-81ee-e277102158af" target="_blank" rel="noopener noreferrer">Aplikuj</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-social-icon mb-50">
                    <a href="https://www.facebook.com/remaxastrawarszawa" target="_blank" rel="noopener noreferrer"><img src="static/assets/imgs/theme/icons/icon-facebook-white.svg" alt="Facebook" /></a>
                    <a href="https://www.instagram.com/remax.astra/" target="_blank" rel="noopener noreferrer"><img src="static/assets/imgs/theme/icons/icon-instagram-white.svg" alt="Instagram" /></a>
                    <a href="https://www.linkedin.com/company/74372002/" target="_blank" rel="noopener noreferrer"><img src="static/assets/imgs/theme/icons/icon-linkedin.svg" alt="LinkedIn" /></a>
                    <a href="https://www.youtube.com/@REMAXAstraa" target="_blank" rel="noopener noreferrer"><img src="static/assets/imgs/theme/icons/icon-youtube-white.svg" alt="YouTube" /></a>
                </div>
                <div class="site-copyright">Copyright 2024 © BNS Sp. z o.o. All rights reserved.</div>
            </div>
        </div>
    </div>
    
    <header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container mb-10">
                <div class="col-12">
                    <div class="footer-bottom mb-10"></div>
                </div>
                <div class="header-wrap">
                    <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
                        <div class="mobile-social-icon">
                            <a href="https://www.facebook.com/remaxastrawarszawa" target="_blank" rel="noopener noreferrer"><img src="static/assets/imgs/theme/icons/icon-facebook-white.svg" alt="Facebook" /></a>
                            <a href="https://www.instagram.com/remax.astra/" target="_blank" rel="noopener noreferrer"><img src="static/assets/imgs/theme/icons/icon-instagram-white.svg" alt="Instagram" /></a>
                            <a href="https://www.linkedin.com/company/74372002/" target="_blank" rel="noopener noreferrer"><img src="static/assets/imgs/theme/icons/Linkedin_icon.svg" alt="LinkedIn" /></a>
                            <a href="https://www.youtube.com/@REMAXAstraa" target="_blank" rel="noopener noreferrer"><img src="static/assets/imgs/theme/icons/icon-youtube-white.svg" alt="YouTube" /></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 text-center d-none d-xl-block">
                        <div class="hotline d-lg-inline-flex">
                            <img src="static/assets/imgs/theme/icons/phone-call.svg" alt="hotline" />
                            <p><a href="tel:+48505028658">+48 505 028 658</a></p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 text-center d-none d-xl-block">
                        <div class="hotline d-lg-inline-flex">
                            <img src="static/assets/imgs/theme/icons/icon-location.svg" alt="location" />
                            <p><a href="https://maps.app.goo.gl/63g9hRx7QUKmR6jh9">Łopuszańska 24g, 02-220 Warszawa</a></p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </footer>
    <!-- Vendor JS-->
    <script src="static/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="static/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="static/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="static/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/plugins/slick.js"></script>
    <script src="static/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="static/assets/js/plugins/wow.js"></script>
    <script src="static/assets/js/plugins/slider-range.js"></script>
    <script src="static/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="static/assets/js/plugins/magnific-popup.js"></script>
    <script src="static/assets/js/plugins/select2.min.js"></script>
    <script src="static/assets/js/plugins/waypoints.js"></script>
    <script src="static/assets/js/plugins/counterup.js"></script>
    <script src="static/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="static/assets/js/plugins/images-loaded.js"></script>
    <script src="static/assets/js/plugins/isotope.js"></script>
    <script src="static/assets/js/plugins/scrollup.js"></script>
    <script src="static/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="static/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="static/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="static/assets/js/main.js"></script>
</html>